<header>
  <img src="https://images.cooltext.com/4867407.png">
</header>


<section class="login">
  <div class="title">Login</div>
  <form action="#" method="post" enctype="application/x-www-form-urlencoded">
      <input type="text" required title="Username required" placeholder="Username" data-icon="U">
        <input type="password" required title="Password required" placeholder="Password" data-icon="x">
        <div class="Register">
          <div class="col"><a href="#" title="Register">Register</a></div>
        </div>
        <a href="#" class="Submit">Submit</a>
    </form>
</section>
