<div ng-controller="navCtrl"></div>

<md-toolbar class="md-padding">
    <div class="md-toolbar-tools">
     <!--  <md-button class="mdi mdi-plus-circle" ng-href="#/pin" name="addScrap"><strong>Add Scrap</strong></md-button> -->
      <md-button class="mdi mdi-plus-circle" ng-href="app/partials/search.html" name="search"><strong>Search Page</strong></md-button>
      <md-button class="mdi mdi-plus-circle" ng-href="app/partials/personal.html" name="personal"><strong>Personal Page</strong></md-button>
      <md-button class="mdi mdi-plus-circle" ng-click="logout()" name="logout" ng-show="loggedIn"><strong>Logout</strong></md-button>
    </div>
  </md-toolbar>

</div>
