<header>
  <img class="logo" src="https://images.cooltext.com/4867457.png">
</header>


<div class="login">
  <div class="title">Register</div>
  <form action="#" method="post" enctype="application/x-www-form-urlencoded">
      <input type="text" required title="First Name required" placeholder="First Name" data-icon="U">
      <input type="text" required title="Last Name required" placeholder="Last Name" data-icon="U">
      <input type="text" required title="Username required" placeholder="Username" data-icon="U">
      <input type="password" required title="Password required" placeholder="Password" data-icon="x">
      <a href="#!/personal" class="Submit">Submit</a>
    </form>
</div>
