<h1>search page</h1>


<!-- four-colunm card structure -->

<div layout="row" ng-cloak layout-fill >

  <section layout="column" flex layout-padding layout-margin >
      <div class="scrap block1">scrap 1</div>
      <div class="scrap block2">scrap 2</div>
      <div class="scrap block3">scrap 3</div>
    </section>

    <section layout="column" flex layout-padding layout-margin >
      <div class="scrap block4">scrap 4</div>
      <div class="scrap block5">scrap 5</div>
      <div class="scrap block6">scrap 6</div>
    </section>

    <section layout="column" flex layout-padding layout-margin >
      <div class="scrap block7">scrap 7</div>
      <div class="scrap block8">scrap 8</div>
    </section>

    <section layout="column" flex layout-padding layout-margin >
      <div class="scrap block7"> scrap </div>
      <div class="scrap block8">scrap 10</div>
    </section>

</div>
